.resident-complain-add-body{
		top: 0;
		left: 0;
		position: absolute;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #00000066;
}
