.residentProfileBody{
    width: 100vw;
    height: 80vh;
    display: flex;
}
.residentProfileBodyLeft{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.residentProfileBodyRight{
    width: 50%;
    margin-left: 5vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.residentProfileBodyP{
    font-weight: bold;   
}
.residentProfileBodyP span{
    font-weight: 200;
}